body {
    text-align: center;
    align-items: center;
}

button {
    width: 70px;
    height: 70px;
}

button {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.border1 {
    padding-left: 340px;
    padding-right: 705px;
    padding-top: 20px;
}

.border2 {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    background-color: rgb(204, 238, 184);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(0, 110, 42);
}

.border3 {
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgb(204, 238, 184);
}

.background {
    background-color: rgb(204, 238, 184);
}